/* 
  ------------------- CONTAINER STYLING -------------------
*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.line-height-increase{
    line-height: 4rem;
}
.spacer{
    margin: 1rem auto;
}
body {
    font-family: arial;
}

/* 
  ------------------- ART STYLING -------------------
*/
img {
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
}

.separator {
    color: #000000;
}

/* 
  ------------------- TEXT / LIST STYLING -------------------
*/
ul{
    padding: 0;
    margin: 1rem;
    list-style-position: outside;
}
h1 {
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
.subtext {
    font-style: italic;
}
.section-header {
    background-color: #2a3439;
    color: #FFFFFF;
}
/* 
  ------------------- BUTTON STYLING -------------------
*/
a {
    text-decoration: none;
    color: #ffffff;
    background-color: #2A3465;
    margin: 1rem;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border: solid;
    border-color: #000000
}
    a:hover,
    a:focus {
        color: #ffffff;
        background-color: #2478AD;
        border: solid;
        border-color: #000000
    }
/* 
  ------------------- ALIGNMENTS -------------------
*/
.alignright{
    text-align: right;
}
.alignleft {
    text-align: left;
}
.aligncenter {
    text-align: center;
    align-self: center;
}
.alignbottom {
    margin-bottom: 0%;
}
.left-to-center-align {
    text-align: left;
}

/* 
  ------------------- MEDIA QUERIES -------------------
*/

@media (max-width: 50rem) {
    .left-to-center-align {
        text-align: center;
    }
}