.flex-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container-header
{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.spacer
{
    margin: 1rem auto;
}
.canvas
{
     margin: auto 3rem;
}
img
{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
body
{
    font-family: arial;
}
ul
{
    padding: 0;
    margin: 1rem;
    list-style-position: outside;
}
h2
{
    margin: 0;
}
h3
{
    margin: 0;
}
.subtext
{
    font-style: italic;
}
.subtext-alignright
{
    text-align: right;
    font-style: italic;
}
.subtext-alignbottom
{
    font-style: italic;
    margin-bottom: 0%;
}
.section-header
{
    display: flex;
    justify-content: center;
}
/*------------------------------------The Grid------------------------------------*/
